<div class="container my-5 pt-lg-5">
    <h2>AnswerQuery</h2>
    <div class="row">
        <% if(locals.msg){ %>
            <p id="presponse" class="alert alert-dark text-center h4 " style="min-height:40px; width:100%;display:none;">
            <%=msg%>
            </p>
        <% } %>
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <form action="/Admin/AnswerQuery" method="post">
                <% if(locals.AnswerOf){ %>
                <label>Send To</label>
                <input type="email" name="SendTo" class="form-control" value="<%= AnswerOf.Email%>" readonly/><br />
                <label>Subject</label>
                <input type="text" value="Response of the query" name="Subject" class="form-control" readonly/><br />
                <label>Query</label>
                <textarea type="text" name="Query" class="form-control" readonly style="resize:none;" rows="3"><%= AnswerOf.Query%></textarea><br />
                <label>Answer</label>
                <textarea placeholder="Type your answer here..." name="Answer" class="form-control" style="resize:none;" rows="4"></textarea><br />
                <button class="btn btn-success w-50" type="submit">Send Answer</button>
                <% } %>
            </form>
        </div>
    </div>
</div>
