<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-lg-center text-success">Subscribers</h1>
            <table class="table table-hover  table-bordered text-center" >
                <thead>
                    <tr class="text-dark table-primary">
                        <th>Name</th>
                        <th>Email-ID</th>
                        <th>Subscribing Date</th>
                    </tr>
                </thead>
                <tbody>
                       <% 
                       if(Subscribers!=undefined)
                       Subscribers.forEach(function(e){ %>
                        <tr>
                        <td><%= e.Name%></td>
                        <td><%= e.Email%></td>
                        <td><%= e.Date%></td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>


