<script>
    $(document).ready(function () {
        const dashboard_Items = [
            {
                href: "/Admin/Welcome",
                icon: "bi bi-house",
                text: "Dashboard",
            },
            {
                href: "/Admin/Give_Assignment",
                icon: "bi bi-upload",
                text: "Upload Assignment",
            },
            {
                href: "/Admin/ShowEnquiry",
                icon: "bi bi-question",
                text: "Enquiries",
            },
            {
                href: "/Admin/Student_Management",
                icon: "bi bi-cursor",
                text: "Student Management",
            },
            {
                href: "/Admin/News_Update",
                icon: "bi bi-bell",
                text: "News & Update",
            },
            {
                href: "/Admin/View_Feedback",
                icon: "bi bi-chat-square-dots",
                text: "Feedbacks",
            },
            {
                href: "/Admin/Subject_Management",
                icon: "bi bi-chat-square-dots",
                text: "Subject Paper",
            },
            {
                href: "/Admin/Send_Email",
                icon: "bi bi-envelope",
                text: "Send an Email",
            },
            {
                href: "/Admin/Download",
                icon: "bi bi-box-arrow-in-down",
                text: "Download",
            },
             {
                href: "/Admin/StudyMaterial",
                icon: "bi bi-emoji-smile-fill",
                text: "Study Materials",
            },
             {
                href: "/Admin/Assignment_Management",
                icon: "bi bi-emoji-smile",
                text: "Assignment Management",
            },
             {
                href: "/Admin/ResultManagement",
                icon: "bi bi-emoji-wink-fill",
                text: "Result Management",
            },
            {
                href: "/Admin/Get_Subscribers",
                icon: "bi bi-emoji-smile",
                text: "Subscribers",
            },
        ]
        const data = dashboard_Items.map((item, ind) => {
            return (
            `<div class="col-lg-3 col-md-4 mb-4" key="${ind}">
                <a href="${item.href}" class="card feature-card h-100 shadow-sm p-5">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <i class="${item.icon} h1"></i>
                        </h5>
                        <p class="card-text">
                            ${item.text}
                        </p>
                    </div>
                </a>
            </div>`
            );
        });
        $(".dashboardItemsContainer").html(data);
    });
</script>

<style>
    .feature-card {
        transition: 0.3s;
    }

    .feature-card:hover {
        transform: translateY(-15px);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to right, #a7aade, #8f94fb);
    }
</style>
<!-- Dashboard Section -->
<section class="py-4">
    <div class="container-fluid">
        <h2 class="mb-5">Admin Dashboard</h2>
        <div class="row dashboardItemsContainer">
        </div>
    </div>
</section>