
<script>
    $(document).ready(function () {
        $("#dash>a").addClass("py-5 my-2 shadow text-dark");
    });
</script>
<h1 class="text-success pt-4">Admin Dashboard</h1>
<center>
    <div class="row mr-0" id="dash">
        <a href="/Admin/Welcome" class="col-sm-3"><i class="bi bi-house h1"></i><div class="h5">Dashboard</div></a>
        <a href="/Admin/Give_Assignment" class="col-sm-3"><i class="bi bi-upload h1"></i><div class="h5">Upload Assignment</div></a>
        <a href="/Admin/ShowEnquiry" class="col-sm-3">
            <i class="bi bi-question h1"></i> <div class="h5">Enquiries</div>
        </a>
        <a class="col-sm-3" href="/Admin/Student_Management"><i class="bi bi-cursor h1"></i><div class="h5">Student Management</div></a>

        <a class="col-sm-3" href="/Admin/News_Update"><i class="bi bi-bell h1"></i><div class="h5">News & Update</div></a>
        <a href="/Admin/View_Feedback" class="col-sm-3"><i class="bi bi-chat-square-dots h1"></i><div class="h5">Feedbacks</div></a>
        <a href="/Admin/Subject_Management" class="col-sm-3"><i class="bi bi-folder h1"></i><div class="h5">Subject/Paper</div></a>
        <a href="/Admin/Send_Email" class="col-sm-3"><i class="bi bi-envelope h1"></i><div class="h5">Send an Email</div></a>
        <a href="/Admin/Download" class="col-sm-3"><i class="bi bi-box-arrow-in-down h1"></i><div class="h5">Download</div></a>
        <a href="/Admin/StudyMaterial" class="col-sm-3"><i class="bi bi-emoji-smile-fill h1"></i><div class="h5">Study Materials</div></a>
        <a class="col-sm-3" href="/Admin/Assignment_Management">
            <i class="bi bi-emoji-smile h1"></i><div class="h5">Assignment Management</div>
        </a>
        <a class="col-sm-3" href="/Admin/ResultManagement"><i class="bi bi-emoji-wink-fill h1"></i><div class="h5">Result Management</div></a>
        <a class="col-sm-3 subscribers pb-5" href="/Admin/Get_Subscribers">
            <i class="bi bi-emoji-smile h1"></i><div class="h5">Subscribers</div>
        </a>
    </div>
</center>

