SS_SECRET=
ATLAS_USERNAME=
ATLASPASSWORD=
RECAPTCHA_SITEKEY=
RECAPTCHA_SECRETKEY=
GOOGLE_SIGNIN_CLIEND_ID=
GOOGLE_SIGNIN_CLIEND_SECRET=
GOOGLE_SIGNIN_CALLBACKURL=
SECRET_CHAR_CODE_EMAIL_VER=
LAMBDA_SEND_EMAIL_API=lambda-function-url
LAMBDA_API_KEY=lambda-function-api-key

#These Credentials will be used if you are not using lambda function to send Email
#Currently we are sending email with lambda function
#Because our free hosted platform not allowing outbound port to send email
MY_EMAIL=
EMAIL_PASSWORD=