# ignore ALL files in ANY directory named node_modules
node_modules/

.env
.scannerwork/
Content/AssignmentAttachments/*
Content/StudentProfileImage/*
Content/StudyMaterials/*
Content/SubmittedAssignment/*
sonar-project.properties
studystudent-zip-file.zip
