
<div class="container-fluid">
    <!--Slider-->
    <div id="carouselExampleSlidesOnly" class="my-5 carousel slide carousel-fade " data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <img src="/Images/img2.jpg" class="d-block h-25 w-100" />
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="/Images/img3.jpg" class="d-block h-25 w-100" />
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="/Images/img4.jpg" class="d-block h-25 w-100" />
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="/Images/img5.jpg" class="d-block h-25 w-100" />
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="/Images/img1.jpg" class="d-block h-25 w-100" />
            </div>
        </div>
    </div>
    <!--Slider Ended-->
    <div class="row">
        <div class="col-sm-6 col-lg-6 border mx-lg-5 mb-5">
            <h5 class="text-center text-success">Notifications</h5>
         NO Notification YET

        </div>
        <div class="col-sm-6 col-lg-5 border mb-5">
            <h5 class="text-center text-success">Information Panel</h5>
         NO Information YET
        </div>
    </div>
</div>

