<script>
    $(document).ready(function () {
        const dashboard_Items = [
            {
                href: "/Student/Greetings",
                icon: "bi bi-house",
                text: "Dashboard",
            },
            {
                href: "/Student/Submit_Assignment",
                icon: "bi bi-upload",
                text: "Submit Assignment",
            },
            {
                href: "/Student/View_Assignment",
                icon: "bi bi-folder",
                text: "View Assignment",
            },
            {
                href: "/Student/Study_Materials",
                icon: "bi bi-emoji-smile",
                text: "Study Materials",
            },
            {
                href: "/Student/Give_FeedBack",
                icon: "bi bi-chat-square-dots",
                text: "Feedback",
            },
            {
                href: "/Student/ChangePassword",
                icon: "bi bi-key",
                text: "Change Password",
            },
            {
                href: "/Student/LogOut",
                icon: "bi bi-chat-square-dots",
                text: "Logout",
            }
        ]
        const data = dashboard_Items.map((item, ind) => {
            return (
                `<div class="col-lg-3 col-md-4 mb-4" key="${ind}">
                <a href="${item.href}" class="card feature-card h-100 shadow-sm p-5">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <i class="${item.icon} h1"></i>
                        </h5>
                        <p class="card-text">
                            ${item.text}
                        </p>
                    </div>
                </a>
            </div>`
            );
        });
        $(".dashboardItemsContainer").html(data);
    });
</script>

<style>
    .feature-card {
        transition: 0.3s;
    }

    .feature-card:hover {
        transform: translateY(-15px);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to right, #a7aade, #8f94fb);
    }
    .TestLink {
        position: fixed;
        right: 27%;
        top: 0px;
        z-index: 1050;
    }
</style>

<!--Navbar Link-->
<% if(locals.Test){ %>
    <li class="nav-item dropdown TestLink">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
            href="#Test">Test</a>
        <div class="dropdown-menu" id="Test">
            <% Test.forEach(function(e){ %>
                <a class="nav-link" href="/Student/Test?sub=<%=e.Subject%>">
                    <%=e.Subject%>
                </a>
                <% }) %>
        </div>
    </li>
<% } %>

<!-- Dashboard Section -->
<section class="py-4">
    <div class="container-fluid">
        <h2 class="mb-5">Student Dashboard</h2>
        <div class="row dashboardItemsContainer">
        </div>
    </div>
</section>