<!DOCTYPE html>
<html>
<head>
    <title>StudyStudent Admin</title>
    <meta name="google-site-verification"
        content="yzKzqfw5GQmHiQsUA-7-muwelVCLG5XCVKK3o2Ii3nI" />
    <meta name="description"
        content="StudyStudent is a web-based learning platform for students to access study materials, submit assignments, and take tests. Built with MERN stack, featuring MongoDB Atlas, Google Sign-In, and more.">
    <meta name="keywords"
        content="studystudent,study student, online learning, coding tutorials, student assignments, MERN stack, ReactJS, Node.js, MongoDB, Express.js, web development, study materials">
    <meta name="author" content="Raj Gupta">
    <meta property="og:title" content="StudyStudent - Online Learning Platform">
    <meta property="og:description"
        content="Access study materials, submit assignments, and learn modern technologies. Built with MongoDB Atlas, React, Node.js.">
    <meta property="og:image" content="YOUR_IMAGE_LINK_HERE">
    <meta property="og:url" content="https://studystudent.onrender.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width" />
    <script src="/JS/jquery-3.6.0.min.js"></script>
    <script src="/JS/bootstrap.bundle.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
    <script src="/JS/General.js"></script>
    <!--Google Recaptcha API-->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            //Adding Some Effect On messeging from server-side
            if ($("#presponse").text().trim().length > 0) {
                $("#presponse").fadeToggle(1500).delay(2000);
                $("input,textarea").text("");
            }
            var fg = $("[href*='#']");
            $(fg).hover(function () {
                $(this).next().stop(2500).fadeToggle();
            });
            $(fg.next()).hover(function () {
                $(this).stop(2000).fadeToggle();
            });
            if ($("html,body").width() < 1000) {
                $("#navBtn").css({ position: "absolute", left: $("html,body").width() - 100 });
            }
            $(window).scroll(function () {
                if ($(window).scrollTop() > 20) {
                    $("#backtotop").show();
                    $(".navbar").addClass("alert-dark");
                } else {
                    $("#backtotop").hide();
                    $(".navbar").removeClass("alert-dark");
                }
            });
        });
    </script>
    <style>
        a.nav-link {
            color: #007bff !important;
        }

        .dropdown-menu {
            width: max-content;
        }

        a {
            text-decoration: none !important;
        }

        .dark {
            background-color: #222;
            color: #e6e6e6;
        }

        #backtotop {
            position: fixed;
            right: 20px;
            bottom: 50px;
            border-radius: 50%;
            z-index: 5000;
        }

        .grecaptcha-badge {
            bottom: 35px !important;
            z-index: 4000;
        }
    </style>
</head>
<body>
    <!--back to top btn-->
    <a id="backtotop" class="bg-info btn" style="display:none;"><i
            class="bi bi-arrow-up"></i></a>

    <!--TOP Header-->
    <div class="navbar navbar-expand-lg navbar-light py-0 fixed-top pl-xl-5">
        <a class="navbar-brand" href="/">StudyStudent</a>
        <button class="navbar-toggler float-right" type="button"
            data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" id="navBtn">
            <span class="navbar-toggler-icon" id="togglerIcon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="px-xl-4 mx-lg-4">
                <span>Follow us:</span>
                <a href="https://www.facebook.com" target="_blank"
                    class="p-2"><i class="bi bi-facebook"
                        style="color:#347dc0;"></i></a>
                <a href="https://www.twitter.com" target="_blank" class="p-2"><i
                        class="bi bi-twitter" style="color:#1156aa;"></i></a>
                <a href="https://www.google.com" target="_blank" class="p-2"><i
                        class="bi bi-google" style="color:#1bbb34;"></i></a>
                <a href="https://www.instagram.com" target="_blank" class="p-2">
                    <i class="bi bi-instagram" style="color:#dd3427;"></i></a>
                <a href="https://www.linkedin.com" class="p-2"><i
                        class="bi bi-linkedin" style="color:#347dc0;"></i></a>
            </div>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-xl-5">
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Welcome">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                        href="#">Student</a>
                    <div class="dropdown-menu">
                        <a class="nav-link"
                            href="/Admin/Student_Management">Student
                            Management</a>
                        <a class="nav-link" href="/Admin/Give_Assignment">Upload
                            Assignment</a>
                        <a class="nav-link" href="/Admin/StudyMaterial">Study
                            Materials</a>
                        <a class="nav-link" href="/Admin/Download">Download</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                        href="#Management">
                        Management</a>
                    <div class="dropdown-menu" id="Management">
                        <a class="nav-link"
                            href="/Admin/ShowEnquiry">Enquiry</a>
                        <a class="nav-link" href="/Admin/News_Update">News &
                            Update
                        </a>
                        <a class="nav-link"
                            href="/Admin/Subject_Management">Subject
                            Management</a>

                        <a class="nav-link" href="/Admin/Send_Email">Send
                            Email</a>
                        <a class="nav-link"
                            href="/Admin/ResultManagement">Result
                            Management</a>
                        <a class="nav-link"
                            href="/Admin/Assignment_Management">Assignment
                            Management</a>
                        <a class="nav-link" href="/Admin/View_Feedback">Feedback
                            Management</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/ChangePassword">Change
                        Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Logout">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
    <!--Top Header Ending-->

    <main class="my-5 mx-lg-5">
        <%- body %>
    </main>

    <!--Footer Added-->
    <%- include('../Shared/Footer.ejs') %>
</body>

</html>