<!DOCTYPE html>
<html>

<head>
    <title>StudyStudent</title>
    <meta name="google-site-verification"
        content="yzKzqfw5GQmHiQsUA-7-muwelVCLG5XCVKK3o2Ii3nI" />
    <meta name="description"
        content="StudyStudent is a web-based learning platform for students to access study materials, submit assignments, and take tests. Built with MERN stack, featuring MongoDB Atlas, Google Sign-In, and more.">
    <meta name="keywords"
        content="studystudent,study student, online learning, coding tutorials, student assignments, MERN stack, ReactJS, Node.js, MongoDB, Express.js, web development, study materials">
    <meta name="author" content="Raj Gupta">
    <meta property="og:title" content="StudyStudent - Online Learning Platform">
    <meta property="og:description"
        content="Access study materials, submit assignments, and learn modern technologies. Built with MongoDB Atlas, React, Node.js.">
    <meta property="og:image" content="YOUR_IMAGE_LINK_HERE">
    <meta property="og:url" content="https://studystudent.onrender.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/JS/jquery-3.6.0.min.js"></script>
    <script src="/JS/bootstrap.bundle.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
    <script src="/JS/General.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--Google Recaptcha API-->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link href="/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/General.css" rel="stylesheet" />
</head>
<body>
    <!--back to top btn-->
    <a id="backtotop" class="bg-info btn" style="display:none;"><i
            class="bi bi-arrow-up"></i></a>
    <!--TOP Header-->
    <div class="navbar navbar-expand-lg navbar-light py-0 fixed-top pl-xl-5">
        <a class="navbar-brand" href="/">StudyStudent</a>
        <button class="navbar-toggler float-right" type="button"
            data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" id="navBtn">
            <span class="navbar-toggler-icon" id="togglerIcon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="px-xl-4 mx-lg-4">
                <span>Follow us:</span>
                <a href="https://www.facebook.com" target="_blank"
                    class="p-2"><i class="bi bi-facebook"
                        style="color:#347dc0;"></i></a>
                <a href="https://www.twitter.com" target="_blank" class="p-2"><i
                        class="bi bi-twitter" style="color:#1156aa;"></i></a>
                <a href="https://www.google.com" target="_blank" class="p-2"><i
                        class="bi bi-google" style="color:#1bbb34;"></i></a>
                <a href="https://www.instagram.com" target="_blank" class="p-2">
                    <i class="bi bi-instagram" style="color:#dd3427;"></i></a>
                <a href="https://www.linkedin.com" class="p-2"><i
                        class="bi bi-linkedin" style="color:#347dc0;"></i></a>
            </div>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-xl-5">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About-us">About us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown"
                        href="#Tutorial">Tutorial</a>
                    <div class="dropdown-menu" id="Tutorial">
                        <a class="dropdown-item"
                            href="/Home/Tutorial?CTutorial">C</a>
                        <a class="dropdown-item"
                            href="/Home/Tutorial?C2Tutorial">C++</a>
                        <a class="dropdown-item"
                            href="/Home/Tutorial?C3Tutorial">C#</a>
                        <a class="dropdown-item"
                            href="/Home/Tutorial?HTML">HTML</a>
                        <a class="dropdown-item"
                            href="/Home/Tutorial?CSS">CSS</a>
                        <a class="dropdown-item"
                            href="/Home/Tutorial?JSTutorial">Java Script
                        </a>
                        <a class="dropdown-item"
                            href="/Home/Tutorial?Bootstrap">Bootstrap</a>
                        <a class="dropdown-item"
                            href="/Home/Tutorial?jQuery">jQuery</a>
                        <a class="dropdown-item" href="/Home/Tutorial?ASP">ASP
                            .NET MVC</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="/Home/Registration">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Login">Login</a>
                </li>
                <!-- <li class="nav-item">
                    <span class="nav-link text-muted">Dark Mode<i
                            class="bi bi-toggle-off dark-mode pl-2 "
                            style="cursor: pointer;"></i></span>
                </li> -->
            </ul>
        </div>
    </div>
    <!--Top Header Ending-->

    <body class="mt-5">
        <%- body %>
    </body>
    <!--footer Started-->
    <footer class="px-lg-5 px-3 bg-dark text-white pt-4 pb-3">
        <div class="text-center">
            <p>© 2025 StudyStudent. Built with ❤ by Student Team</p>
            <p>
                <a href="https://github.com/rajgupta2/StudyStudent"
                    target="_blank">GitHub</a> |
                <a href="https://youtu.be/ZjMT_kWQI1s" target="_blank">YouTube
                    Demo</a>
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4 pt-4">
                <h5 class="text-success font-weight-bold">StudyStudent
                    Private Ltd.</h5>

                <section class="pb-2">
                    <p class="text-light mb-2">Get connected with us on social
                        networks:</p>
                    <a href="https://www.facebook.com" target="_blank"
                        class="px-2"><i class="bi bi-facebook"
                            style="color:#347dc0;"></i></a>
                    <a href="https://www.twitter.com" target="_blank"
                        class="px-2"><i class="bi bi-twitter"
                            style="color:#1156aa;"></i></a>
                    <a href="https://www.google.com" target="_blank"
                        class="px-2"><i class="bi bi-google"
                            style="color:#1bbb34;"></i></a>
                    <a href="https://www.instagram.com" target="_blank"
                        class="px-2"> <i class="bi bi-instagram"
                            style="color:#dd3427;"></i></a>
                    <a href="https://www.linkedin.com" class="px-2"><i
                            class="bi bi-linkedin"
                            style="color:#347dc0;"></i></a>
                    <a href="https://www.github.com" class="px-2"><i
                            class="bi bi-github" style="color:#789b95;"></i></a>
                </section>
                <p class="text-light mb-1">
                    <i class="fas fa-map-marker-alt text-success"></i>
                    Karwi (Chitrakoot), UP, India
                </p>
                <p class="text-light mb-1">
                    <i class="fas fa-mail-bulk text-success"></i>
                    Post Office: Karwi Chitrakoot
                </p>
                <p class="text-light mb-0">
                    <a href="mailto:StudyStudent@gmail.com"
                        class="text-info">StudyStudent@gmail.com</a>
                </p>
            </div>
            <div class="col-sm-3 pt-4">
                <h5 class="font-weight-bold text-success">Useful Links</h5>
                <hr class="bg-white my-2">
                <a href="/">Home</a><br />
                <a href="#aboutus">About us</a><br />
                <a href="/Home/Contact">Contact us</a><br />
                <a href="/Home/Registration">Sign Up</a><br />
                <a href="/Home/Login">Sign In</a><br />
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4 pt-4">
                <h5 class="text-success">Stay updated</h5>
                <input id="Name" name="Name" placeholder="Name" type="text"
                    onchange="checkvalidation()" value=""
                    class="form-control mt-4" />
                <input id="Email" name="Email" placeholder="Email" type="email"
                    onchange="checkvalidation()" value=""
                    class="form-control mt-4" />
                <button type="button" class="btn btn-success mt-3 mb-2"
                    id="SendCode"> Verify Email</button>
                <input id="Code" name="Code"
                    placeholder="Code Sent to your email" type="hidden"
                    value="" />
                <button
                    class="g-recaptcha btn btn-danger btn-block mb-2 mt-4 d-none Subscribe_Btn"
                    data-sitekey="<%=process.env.RECAPTCHA_SITEKEY%>"
                    data-callback='onSubmit'
                    data-theme="dark">Subscribe</button>


            </div>
        </div>
    </footer>

</html>